name: Build Project
on:
    release:
        types: [created]
jobs:
    create_and_upload_release_asset:
        name: Create and Upload Release Asset for ${{ matrix.OS_NAME }}
        runs-on: ${{ matrix.OS_VERSION }}
        strategy:
            matrix:
                include:
                    - OS_VERSION: macos-latest
                      OS_NAME: MacOS
                      ASSET_EXTENSION: zip
                      ADDITIONAL_CMD_ARGS: --add-data "maze_prodigy/assets:." && cd dist/ && zip -r9 "Maze Prodigy - MacOS" "Maze Prodigy - MacOS.app/"
                    - OS_VERSION: windows-latest
                      OS_NAME: Windows
                      ASSET_EXTENSION: exe
                      ADDITIONAL_CMD_ARGS: --add-data "maze_prodigy/assets;."
        permissions:
          contents: write
        env:
          ASSET_NAME: Maze Prodigy - ${{ matrix.OS_NAME }}
          ASSET_NAME_WITH_EXTENSION: Maze Prodigy - ${{ matrix.OS_NAME }}.${{ matrix.ASSET_EXTENSION }}
        steps:
            - name: Checkout Code
              uses: actions/checkout@v3
            - name: Setup Python 3.11
              uses: actions/setup-python@v4
              with:
                python-version: '3.11'
            - name: Install Dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt
                pip install pyinstaller
            - name: Create Release Asset with Pyinstaller
              run: pyinstaller maze_prodigy/__main__.py --name "${{ env.ASSET_NAME }}" --onefile --windowed ${{ matrix.ADDITIONAL_CMD_ARGS }}
            - name: Upload Release Asset
              uses: shogo82148/actions-upload-release-asset@v1
              with:
                upload_url: ${{ github.event.release.upload_url }}
                asset_path: ./dist/${{ env.ASSET_NAME_WITH_EXTENSION }}
                asset_name: ${{ env.ASSET_NAME_WITH_EXTENSION }}
