name: Create Release

on:
  pull_request:
    branches: [ main ]
    types: [ closed ]

jobs:
  create_release:
    if: ${{ github.event.pull_request.merged }}
    name: Create Release
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
    steps:
      - uses: rymndhng/release-on-push-action@v0.28.0
        with:
          bump_version_scheme: norelease
          release_name: 'Release <RELEASE_TAG>'